ngrok.yml
.env
node_modules/
dist/
logs/
*.log
*.env
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.zip
*.tar.gz
*.exe
*.dll
*.so
*.dylib
*.pyc
STANDALONE.md
PRISMA_MIGRATION.md
CHANGES.md